.menu,
.mobileSocials {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically */
  color: #fff; /* Set text color */
  background-color: var(--background);
  opacity: 0.8;
}

.mobileSocials {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: 1rem 2rem;
  justify-content: center;
  gap: 5rem;
  font-size: large;
  z-index: 1001;
}

.menu {
  position: sticky; /* Make the menu sticky */
  top: 0; /* Stick to the top of the viewport */
  padding: 1rem 2rem; /* Add padding for spacing */
  justify-content: space-between; /* Space out left and right sections */
  z-index: 999; /* Ensure the menu stays above other elements */
}

.leftSection {
  display: flex; /* Arrange GitHub and LinkedIn icons in a row */
  gap: 20px; /* Add spacing between icons */
}

.rightSection {
  display: flex; /* Arrange menu items in a row */
  gap: 20px; /* Add spacing between menu items */
}

.menuItem {
  cursor: pointer; /* Change cursor to pointer for better UX */
  font-weight: bold; /* Make the text bold */
  text-transform: uppercase; /* Optional: Make text uppercase */
  text-decoration: none; /* Remove underline if links are used */
  position: relative;
  background-color: rgb(0, 0, 0, 0);
}

.menuItem div,
.languageMenu button div {
  position: absolute;
  width: 90%;
  height: 0.1rem;
  transform: translateX(-50%);
  left: 50%;
  bottom: -0.4rem;
}

.languageMenu button div {
  bottom: -0.01rem;
  width: 70%;
}

.menuItem:hover div,
.languageMenu button:hover div,
.enabledDiv {
  background-color: var(--main-color);
}

.languageMenu button:disabled div {
  display: none;
}

.mobileSocials .menuItem div {
  bottom: auto;
  top: -0.9rem;
  width: 150%;
}

.languageMenu {
  display: block;
  position: absolute;
  right: 0;
  bottom: -1.5rem;
}

.languageMenu button {
  width: 100px;
  cursor: pointer;
  padding: 0.6em 0.4em;
  background-color: var(--background);
  border: 0;
  font-weight: bold;
  position: relative;
  background-color: rgb(0, 0, 0, 0.9);
}

.languageMenu button:disabled {
  cursor: default;
}

@media (max-width: 768px) {
  .leftSection {
    display: none;
  }

  .mobileSocials {
    display: flex;
  }

  .menu {
    background: none;
    justify-content: center;
  }

  .rightSection {
    background-color: var(--background);
    padding: 0.5rem 2rem;
    border-radius: 10px;
  }

  .languageMenu {
    right: 33%;
    bottom: -1rem;
  }

  .languageMenu button:first-of-type {
    border-bottom-left-radius: 10px;
  }

  .languageMenu button:last-of-type {
    border-bottom-right-radius: 10px;
  }
}
