<!DOCTYPE html>
<html>
  <head>
    <link href="res/style.css" rel="Stylesheet" />
    <!-- https://fontawesome.com/search?q=print&o=r&m=free -->
    <script
      src="https://kit.fontawesome.com/fe58dce765.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="res/script.js"></script>
    <title>Resume</title>
  </head>
  <body>
    <div id="app">
      <div v-on:click.right.prevent>
        <div id="header">
          <!-- <img src="https://drive.google.com/uc?export=view&id=1TEeVrGMMt4690GH0F2C82sFIr0spF4vf"/> -->
          <img src="res/image.jpg" />
          <div id="header-text">
            <div>
              <h1>
                {{ person.firstName }}
                <span class="primary-color">{{ person.lastName }}</span>
              </h1>
              <h2>{{ person.position }}</h2>
            </div>
          </div>
        </div>
        <div id="contacts" class="text-center">
          <ul>
            <li v-if="person.email">
              <a v-bind:href="'mailto:' + person.email"
                ><i class="fa-regular fa-envelope"></i>{{ person.email }}</a
              >
            </li>
            <li v-if="person.telno">
              <a v-bind:href="'telno:' + person.telno"
                ><i class="fa-brands fa-whatsapp"></i>{{ person.telno }}</a
              >
            </li>
            <li v-if="person.location.name">
              <a
                v-if="person.location.link"
                v-bind:href="person.location.link"
                target="_blank"
                ><i class="fa-solid fa-location-dot"></i>{{ person.location.name
                }}</a
              >
              <span v-else
                ><i class="fa-solid fa-location-dot"></i>{{ person.location.name
                }}</span
              >
            </li>
            <li v-if="person.linkedin">
              <a v-bind:href="'https://' + person.linkedin" target="_blank"
                ><i class="fa-brands fa-linkedin"></i>{{ person.linkedin }}</a
              >
            </li>
            <li v-if="person.website">
              <a v-bind:href="'https://' + person.website" target="_blank"
                ><i class="fa-solid fa-globe"></i>{{ person.website }}</a
              >
            </li>
          </ul>
        </div>
        <div class="d-flex">
          <div class="col-60">
            <div>
              <div class="sub-header">
                <div class="blue-circle">
                  <i class="fa-solid fa-briefcase"></i>
                </div>
                <div class="sub-header-text">
                  <h3>HISTORY</h3>
                </div>
              </div>
              <div class="contain" v-for="(job, i) in history" :key="i">
                <div class="d-flex">
                  <div class="col-60">
                    <h3>{{ job.jobTitle }}</h3>
                    <h6 style="line-height: 1.5em; text-transform: uppercase">
                      {{ job.companyName }}
                    </h6>
                  </div>
                  <div class="col-40">
                    <div class="date-container">
                      <span>{{ job.dateFrom }} - {{ job.dateTo }}</span>
                    </div>
                  </div>
                </div>
                <ul>
                  <li v-for="(desc, i) in job.description" :key="i">
                    {{ desc }}
                  </li>
                </ul>
              </div>
            </div>

            <div>
              <div class="sub-header">
                <div class="blue-circle">
                  <i class="fa-solid fa-award"></i>
                </div>
                <div class="sub-header-text">
                  <h3>AWARDS</h3>
                </div>
              </div>
              <div class="contain" id="awards">
                <div v-for="(award, i) in awards" :key="i">
                  <div>
                    <p class="bold">{{ award.title }}</p>
                    <p>{{ award.date }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-40">
            <div>
              <div class="sub-header">
                <div class="blue-circle">
                  <i class="fa-solid fa-user"></i>
                </div>
                <div class="sub-header-text">
                  <h3>SUMMARY</h3>
                </div>
              </div>
              <div class="contain" id="summary">{{ person.summary }}</div>
            </div>
            <div>
              <div class="sub-header">
                <div class="blue-circle">
                  <i class="fa-solid fa-code"></i>
                </div>
                <!-- <div class="sub-header-text" style="padding-top:1mm;padding-bottom:1mm"> -->
                <div class="sub-header-text">
                  <h4>{{ skill.sectionName }}</h4>
                </div>
              </div>
              <div class="contain">
                <ul>
                  <li v-for="(s, i) in skill.skillSet" :key="i">{{ s }}</li>
                </ul>
              </div>
            </div>
            <div>
              <div class="sub-header">
                <div class="blue-circle">
                  <i class="fa-solid fa-language"></i>
                </div>
                <div class="sub-header-text">
                  <h3>LANGUAGES</h3>
                </div>
              </div>
              <div class="contain">
                <div
                  class="d-flex mb"
                  v-for="(lang, i) in person.language"
                  :key="i"
                >
                  <div class="col-40 lang-text">{{ lang.name }}</div>
                  <div class="col-60 perbar">
                    <div v-bind:style="{ width : lang.percentage + '%' }">
                      {{ lang.percentage }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="sub-header">
                <div class="blue-circle">
                  <i class="fa-solid fa-graduation-cap"></i>
                </div>
                <div class="sub-header-text">
                  <h3>EDUCATION</h3>
                </div>
              </div>
              <div class="contain" v-for="(edu, i) in education" :key="i">
                <h3 style="font-size: 80%">{{ edu.courseName }}</h3>
                <div class="d-flex">
                  <div class="col-60">
                    <h6>{{ edu.college }}</h6>
                  </div>
                  <div class="col-40" style="text-align: right; font-size: 80%">
                    <span>{{ edu.dateFrom }} - {{ edu.dateTo }}</span>
                  </div>
                </div>
                <ul>
                  <li v-for="(item, i) in edu.items" :key="i">
                    {{ item.name }}<br />
                    <span style="font-size: 80%">{{ item.description }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Empty Spaces for Next/2nd Page when print -->
        <!--<div>&nbsp;<br/></div>-->

        <div>
          <div class="sub-header">
            <div class="blue-circle">
              <i class="fa-solid fa-child-reaching"></i>
            </div>
            <div class="sub-header-text">
              <h3>CURRICULAR ACTIVITIES</h3>
            </div>
          </div>
          <div class="contain" id="curricular">
            <div v-for="(c, i) in curricular" :key="i">
              <p class="bold">{{ c.title }}</p>
              <p>{{ c.date }}</p>
            </div>
          </div>
        </div>

        <div>
          <div class="sub-header">
            <div class="blue-circle">
              <i class="fa fa-users"></i>
            </div>
            <div class="sub-header-text">
              <h3>REFERENCE</h3>
            </div>
          </div>
          <div class="contain" id="reference">
            <div class="grid-3">
              <div v-for="(r, i) in reference" :key="i">
                <ul>
                  <li class="bold">{{ r.name }}</li>
                  <li>{{ r.position }}</li>
                  <li><i class="fa-solid fa-phone"></i>{{ r.telno }}</li>
                  <li><i class="fa-solid fa-at"></i>{{ r. email }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <button id="printButton" v-on:click="printPage">
          <i class="fa-solid fa-print"></i> <span>Print</span>
        </button>
      </div>
    </div>
  </body>
</html>
