.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  align-items: flex-start; /* Align items to the top */
  gap: 20px; /* Add spacing between items */
  margin: 0 auto; /* Center the container itself */
  width: 100%; /* Ensure it spans the full width */
  max-width: 1200px; /* Optional: Limit the maximum width */
  padding: 1rem; /* Add padding for spacing */
}

.projectImage {
  position: relative; /* Enable positioning for child elements like .projectOverlay */
  background-size: cover; /* Ensure the image covers the container */
  background-position: center; /* Center the image */
  height: 300px; /* Adjust the height for responsiveness */
  width: 100%; /* Make the image container responsive */
  max-width: 550px; /* Limit the maximum width of each project item */
  border-radius: 10px; /* Optional: Add rounded corners */
  overflow: hidden; /* Ensure content stays within the container */
  background-color: aliceblue; /* Fallback background color */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 3s ease-out, transform 3s ease-out;
  cursor: pointer;
}

.projectImage.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.projectImage.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.projectOverlay {
  position: absolute; /* Position the overlay over the image */
  bottom: 0; /* Align the overlay to the bottom */
  left: 0; /* Align the overlay to the left */
  width: 100%; /* Make the overlay span the full width */
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  color: white; /* Set text color to white */
  padding: 1rem; /* Add padding for spacing */
  text-align: center; /* Center-align the text */
  opacity: 0; /* Start with the overlay hidden */
  transition: opacity 0.3s ease; /* Smooth transition for hover effect */
}

.projectImage:hover .projectOverlay {
  opacity: 1; /* Show the overlay on hover */
}

.projectTechnologies {
  position: absolute; /* Position it relative to the .projectImage */
  top: 8%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Adjust for the element's own dimensions */
  display: flex; /* Use flexbox to align icons */
  gap: 10px; /* Add spacing between icons */
  background: rgba(
    0,
    0,
    0,
    0.6
  ); /* Optional: Add a semi-transparent background */
  padding: 0.5rem 1rem; /* Add padding around the icons */
  border-radius: 10px; /* Optional: Add rounded corners */
  color: white; /* Set icon color to white */
  z-index: 2; /* Ensure it appears above other elements */
  opacity: 0; /* Start with the overlay hidden */
  transition: opacity 0.3s ease; /* Smooth transition for hover effect */
}

.projectImage:hover .projectTechnologies {
  opacity: 1; /* Show the overlay on hover */
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: var(--background);
  color: var(--foreground);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 6rem;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.popupTechnologies {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.popupTechnologies span {
  background: rgb(0, 0, 0, 0.6);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  gap: 0.3rem;
}

.hr {
  border: 0;
  height: 1px;
  background: var(--main-color);
  margin: 20px 0;
}

.popup a {
  color: var(--main-color);
  text-decoration: underline;
}

.popup h3,
.popup h2,
.popup h4 {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.popup h3,
.popup h4 {
  font-weight: 300;
}

.popup p,
.popup a {
  line-height: 1.7;
  margin-bottom: 0.8rem;
}

.popupMainImage {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.popupLongDescription {
  margin-bottom: 1rem;
  padding: 0.5rem;
  line-height: 1.7;
  text-align: justify;
}

.popupLongDescription ul {
  padding-left: 1.5rem;
}

@media (max-width: 768px) {
  .popup {
    max-width: none;
    width: 100%;
  }
}
